[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
requests = "*"
dictor = "*"
pyinstaller = "*"
argconfigparse = "*"
gpiozero = "*"
python-dateutil = "*"
querylms = "*"
"rpi.gpio" = "*"
it8951 = {git = "https://github.com/GregDMeyer/IT8951.git"}
feedparser = "*"
pillow = "*"
epdlib = {editable = true, path = "./../epdlib"}

[requires]
python_version = "3.7"
