[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
requests = "*"
pillow = "*"
dictor = "*"
pyinstaller = "*"
argconfigparse = "*"
gpiozero = "*"
python-dateutil = "*"
querylms = "*"
"rpi.gpio" = "*"
it8951 = {git = "https://github.com/GregDMeyer/IT8951.git"}
waveshare-epd = {subdirectory = "RaspberryPi_JetsonNano/python", editable = true, git = "https://github.com/waveshare/e-Paper.git"}
epdlib = "*"

[requires]
python_version = "3.7"
