[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
requests = "*"
dictor = "*"
ArgConfigParse = "*"
gpiozero = "*"
python-dateutil = "*"
QueryLMS = "*"
"RPi.GPIO" = "*"
feedparser = "*"
Pillow = "*"
epdlib = "0.5.1.1"
pytz = "*"
pycoingecko = "*"
currency-symbols = "*"
qrcode = "*"
pygal = "*"
CairoSVG = "*"
cairocffi = "*"
pycairo = "*"
cffi = "*"
pyinstaller = "*"

[requires]
python_version = "3"

[packages.it8951]
git = "https://github.com/GregDMeyer/IT8951.git"
