[Unit]
# https://www.shellhacks.com/systemd-service-file-example/
Description=PaperPi E-Paper Display
After=network-online.target
Wants=network-online.target

[Service]
# adding arguments https://superuser.com/questions/728951/systemd-giving-my-service-multiple-arguments
# wait until everything else is started
Type=idle
ExecStart=/usr/bin/paperpi -d
TimeoutStopSec=30
#ExecStop=/bin/kill -s SIGINT ${MAINPID}
KillSignal=SIGINT
RestartKillSignal=SIGINT
User=paperpi
Group=paperpi
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target
